@import '~@angular/material/theming';
@import 'variables';
@import 'mixins';

:host {
  display: block;
  height: 100%;
}

.not-found {
  height: 100%;
  .container {
    height: 100%;
  }
  &__inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &__message {
    font-size: 48px;
    font-family: $font-admin-en;
    color: map-get($mat-grey, 800);
    @include sp {
      font-size: 32px;
    }
  }
  &__text {
    margin-top: 20px;
    color: map-get($mat-grey, 800);
  }
  &__actions {
    margin: 40px auto 0;
    width: 100%;
    max-width: 320px;
  }
}
