:host {
  display: block;
  height: 100%;
}

.not-found {
  height: 100%;
  .container {
    height: 100%;
  }
  &__inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &__message {
    font-size: 32px;
  }
  &__actions {
    margin-top: 20px;
  }
}
