<div class="time-line">
  <div class="container">
    <mgl-timeline>
      <mgl-timeline-entry *ngFor="let user of users$ | async as users">
        <mgl-timeline-entry-header
          ><img src="assets/images/char-{{ user.characterId }}.png" alt="" />{{
            user.name
          }}</mgl-timeline-entry-header
        >
        <mgl-timeline-entry-content
          [expandAnimationTiming]="contentAnimation ? '200ms ease' : '0ms'"
          [collapseAnimationTiming]="contentAnimation ? '100ms ease' : '0ms'"
          >{{ user.message }}</mgl-timeline-entry-content
        >
        <mgl-timeline-entry-dot
          [style.background-image]="'url(' + user.avatarURL + ')'"
          [size]="size"
          (click)="onDotClick($event)"
          [expandAnimationTiming]="dotAnimation ? '200ms ease' : '0ms'"
          [collapseAnimationTiming]="dotAnimation ? '100ms ease' : '0ms'"
        >
          <button></button>
        </mgl-timeline-entry-dot>
        <mgl-timeline-entry-side>{{
          user.joinedDate.toDate() | date
        }}</mgl-timeline-entry-side>
      </mgl-timeline-entry>
    </mgl-timeline>
  </div>
</div>
