@import '~@angular/material/theming';
@import 'variables';
@import 'mixins';

.message-card {
  box-sizing: border-box;
  background-color: #fff;
  height: 100%;
  padding: 24px;
  border-radius: 8px;
  box-shadow: $box-shadow-admin;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  @include sp {
    padding: 16px;
  }
  &__title {
    font-size: 18px;
  }
  &__content {
    flex: 1;
    margin: 0;
    padding: 20px 0;
    color: map-get($mat-grey, 800);
    font-size: 14px;
  }
  &__footer {
    display: flex;
  }
  &__data {
    box-sizing: border-box;
    width: calc(100% - 44px);
    margin: 0;
    text-align: right;
    padding-right: 16px;
    dt {
      font-size: 15px;
    }
    dd {
      margin: 0;
      color: map-get($mat-grey, 700);
      font-size: 13px;
    }
  }
  &__icon {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background: center/cover;
  }
  &__edit {
    padding: 64px;
    border-radius: 50%;
    background-color: #bdbdbd;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-50%, 50%);
    cursor: pointer;
    @include mat-elevation-transition;
    @include mat-elevation(4);
    &:hover {
      padding: 70px;
      @include mat-elevation(8);
    }
  }
  &__edit-icon {
    position: absolute;
    bottom: 50%;
    left: 50%;
    margin: 0 0 12px 12px;
    color: white;
    &--none {
      display: none;
    }
  }
}

.message-card__edit {
  transition: 0.3s;
}
