@import '~@angular/material/theming';
@import 'variables';
@import 'mixins';

.mat-card {
  padding: 24px 16px;
}
.mat-card-actions {
  margin: 0;
}

mat-form-field {
  margin-top: 24px;
}

.swiper-slide {
  opacity: 0.3;
  transition: opacity 0.4s;
  &.swiper-slide-active {
    opacity: 1;
  }
  img {
    max-width: 100%;
  }
}

.settings {
  padding: 60px 0;
  &__inner {
    max-width: 640px;
    margin: 0 auto;
  }
  &__title {
    font-size: 20px;
    color: $color-gradient-admin-middle;
  }
  &__box {
    box-sizing: border-box;
    padding: 32px 24px 40px;
    border-radius: 8px;
    box-shadow: $box-shadow-admin;
    background-color: #fff;
    @include sp {
      padding: 24px 16px;
    }
  }
  &__avatar {
    margin-top: 24px;
    padding: 16px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.04);
  }
  &__description {
    margin-bottom: 16px;
    p {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.8);
    }
  }
  &__avatar-label {
    margin-bottom: 12px;
  }
  &__cropper {
    width: 232px;
    display: inline-block;
  }
  &__swiper {
    box-sizing: border-box;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    max-width: calc(100vw - 64px);
  }
  &__swiper-pager {
    display: flex;
    place-content: center;
    gap: 8px;
    text-align: center;
    margin: 12px 0 0;
  }
  &__toggle {
    margin-top: 24px;
    text-align: center;
  }
  &__actions {
    max-width: 340px;
    margin: 32px auto 0;
  }
  &__footer {
    margin-top: 60px;
    color: rgba(255, 255, 255, 0.45);
    text-align: center;
    span {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
