<mat-toolbar class="header">
  <h1 class="header__logo">
    <a routerLink="/">Dear</a>
  </h1>
  <a routerLink="/message-list" mat-button aria-label="メッセージ一覧">
    メッセージ一覧
  </a>
  <ng-container *ngIf="authService.user$ | async as user">
    <button
      mat-mini-fab
      [matMenuTriggerFor]="userMenu"
      [style.background-image]="'url(' + user.avatarURL + ')'"
      class="header__icon"
    ></button>
    <mat-menu #userMenu="matMenu" class="header__menu">
      <a mat-menu-item routerLink="/settings">
        <mat-icon>edit</mat-icon>
        <span>編集</span>
      </a>
      <button mat-menu-item (click)="authService.logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>ログアウト</span>
      </button>
    </mat-menu>
  </ng-container>
</mat-toolbar>
