@import 'variables';
@import 'mixins';

:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.mat-toolbar {
  background-color: rgba(255, 255, 255, 0.95);
}

.header {
  display: flex;
  align-items: center;
  display: flex;
  &__logo {
    padding-right: 0.25em;
    font-size: 24px;
    margin-right: auto;
    font-family: $font-admin-en;
    color: $color-gradient-admin-middle;
    background-image: $gradient-admin-main;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__icon {
    margin-left: 8px;
    box-shadow: none;
    background-color: #ccc;
    background: center / cover;
  }
}
