@import 'variables';
@import 'mixins';

:host {
  display: block;
  height: 100%;
  background-color: $color-base;
}

.wrap {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.main {
  box-sizing: border-box;
  padding-top: 48px;
}
