@import '~@angular/material/theming';
@import 'variables';
@import 'mixins';

.message-list {
  padding: 40px 0;
  @include sp {
    padding: 30px 0;
  }
  &__toggle {
    padding-bottom: 16px;
    text-align: right;
    color: map-get($mat-grey, 200);
    @include sp {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 16px 16px;
      background-color: rgba(107, 141, 214, 0.95);
      text-align: center;
      z-index: 99;
    }
  }
  &__inner {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr;
    @include sp {
      grid-template-columns: 1fr;
    }
  }
}

.loading-wrapper {
  padding: 24px;
}

.loading {
  margin: 0 auto;
  padding: 0 24px;
}
