@import '~@angular/material/theming';
@import 'variables';
@import 'mixins';

:host {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: $gradient-admin-main;
  z-index: 2000;
}

.pre {
  height: 100%;
  .container {
    height: 100%;
  }
  &__inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &__box {
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    padding: 32px;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: $box-shadow-admin;
    @include sp {
      padding: 24px;
      border-radius: 8px;
    }
  }
  &__title {
    color: $color-gradient-admin-middle;
    background-image: $gradient-admin-main;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: $font-admin-en;
    font-size: 40px;
    text-align: center;
  }
  &__subtitle {
    margin-top: 14px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: map-get($mat-grey, 700);
  }
  &__messages {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.75;
    color: map-get($mat-grey, 800);
    p + p {
      margin-top: 0.25em;
    }
  }
  &__actions {
    margin-top: 32px;
    text-align: center;
    & > * + * {
      margin-top: 16px;
    }
  }
  &__copy {
    margin-top: 32px;
    color: map-get($mat-grey, 600);
    font-size: 12px;
    text-align: center;
  }
}
