<div class="pre">
  <div class="container">
    <div class="pre__inner">
      <div class="pre__box">
        <h1 class="pre__title">Coming soon</h1>
        <p class="pre__subtitle">CAMPメンバー＆OB・OGの皆さまへ</p>
        <div class="pre__messages">
          <p>
            CAMPメンターNinoさんの誕生日サプライズ企画にご賛同いただき、ありがとうございます！
          </p>
          <p>トップページは、現在作成中です。</p>
          <p>Googleアカウントでログインの上、メッセージを登録してください。</p>
        </div>
        <div class="pre__actions">
          <ng-container *ngIf="authService.user$ | async; else login">
            <a routerLink="/settings" class="btn-admin">
              <span>メッセージを編集する</span>
            </a>
          </ng-container>
          <ng-template #login>
            <button
              class="btn-admin"
              [disabled]="authService.loginProcessing"
              (click)="authService.login()"
            >
              <span>{{
                authService.loginProcessing
                  ? 'ログイン中'
                  : 'Googleアカウントでログインする'
              }}</span>
            </button>
          </ng-template>
          <a routerLink="/message-list" class="btn-admin-white">
            メッセージ一覧をみる
          </a>
        </div>
        <div class="pre__copy">&copy; Team CAMP.</div>
      </div>
    </div>
  </div>
</div>
