<mat-card class="message-card">
  <mat-card-header>
    <div
      mat-card-avatar
      [style.background-image]="'url(' + user.avatarURL + ')'"
      class="message-card__icon"
    ></div>
    <mat-card-title>{{ user.title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="message-card__content">
    {{ user.message }}
  </mat-card-content>
  <mat-card-actions class="message-card__actions">
    <p>{{ user.name }}</p>
    <div class="">
      <!-- TODO leavedDateのフォーマット出来ていない -->
      <span
        >{{ user.joinedDate.toDate() | date: 'yyyy年MM月dd日' }} 〜
        {{ user.leavedDate ? user.leavedDate.toDate() : '在籍中' }}</span
      >
    </div>
  </mat-card-actions>
</mat-card>
