<div class="login">
  <div class="container">
    <div class="login__inner">
      <div class="login__messages">
        <p>この度は、サプライズに賛同いただき、ありがとうございます！！</p>
        <p>ログインして、バースデーメッセージをご入力ください。</p>
      </div>
      <div class="login__actions">
        <button
          mat-raised-button
          color="primary"
          [disabled]="authService.loginProcessing"
          (click)="authService.login()"
        >
          {{
            authService.loginProcessing
              ? 'ログイン中'
              : 'Googleアカウントでログインする'
          }}
        </button>
      </div>
    </div>
  </div>
</div>
