@import 'variables';
@import 'mixins';

.home {
  background: url(/assets/images/bg.png) no-repeat center/cover;
  height: 100vh;
  position: relative;
  overflow: hidden;
  @include pc-s {
    background: url(/assets/images/bg-pc-s.png) no-repeat center/cover;
  }
  @include sp {
    background: url(/assets/images/bg-sp.png) no-repeat center/cover;
  }
  &__inner {
    padding: 32px;
    height: 100vh;
  }
  &__balloon {
    position: absolute;
    animation: fuwafuwa 3s linear 0s infinite;
    @include sp {
      display: none;
    }
    &--0 {
      top: 10%;
      left: 0;
    }
    &--1 {
      top: 50%;
      left: 70%;
    }
    &--2 {
      top: 15%;
      left: 80%;
    }
    &--3 {
      top: 75%;
      left: 63%;
    }
    &--4 {
      top: 65%;
      left: 72%;
    }
    &--5 {
      top: 70%;
      left: 60%;
    }
    &--6 {
      top: 5%;
      left: 36%;
    }
    &--7 {
      top: 0;
      left: 3%;
    }
    &--8 {
      top: 3%;
      left: 5%;
    }
    &--9 {
      top: 5%;
      left: 1%;
    }
    &--10 {
      top: 25%;
      left: 82%;
    }
    &--11 {
      top: 20%;
      left: 84%;
    }
  }
  &__date {
    position: absolute;
    bottom: 46vh;
    right: 0;
    max-width: 300px;
    width: 20%;
    @include sp {
      top: 8px;
      left: 0;
      // transform: translateX(-50%);
      width: 40%;
      max-width: 220px;
    }
    img {
      width: 100%;
    }
  }
  &__action {
    position: absolute;
    bottom: 16px;
    left: calc(50% - 30px);
    animation: fuwafuwa 3s linear 0s infinite;
    opacity: 0.8;
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #f4157e;
    color: #fff;
    box-shadow: 0 10px 60px -10px #cd106e;
    transition: 0.4s;
    mat-icon {
      font-size: 30px;
      width: 30px;
      height: 30px;
    }
    @include sp {
      display: none;
    }
    &:hover {
      background-color: lighten(#f4157e, 2%);
      color: #fff;
      box-shadow: 0 8px 65px -5px #cd106e;
    }
    &:active {
      color: #cd106e;
      box-shadow: 0 10px 60px -10px #cd106e;
    }
  }
}

.hero {
  cursor: move;
  position: fixed;
  bottom: 0;
  right: -60px;
  max-width: 400px;
  z-index: 1000;
  @include sp {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    width: 200px;
    margin: 0 auto;
    bottom: 16px;
  }

  figure {
    margin: 0;
    width: 100%;
    img {
      width: 100%;
    }
  }

  &__logo {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    padding: 4% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 11;

    &::before,
    &::after,
    span::before,
    span::after {
      position: absolute;
      content: '';
      display: block;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.4);
    }
    &::before {
      top: 6px;
      left: 6px;
    }
    &::after {
      bottom: 6px;
      right: 6px;
    }
    span {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      &::before {
        top: 6px;
        right: 6px;
      }
      &::after {
        bottom: 6px;
        left: 6px;
      }
    }
    img {
      display: block;
      margin: 0 auto;
      width: 60%;
      filter: drop-shadow(2px 2px 0 rgba(0, 0, 0, 0.2));
    }
  }
}

@keyframes fuwafuwa {
  0% {
    transform: translateY(0%);
  }
  20% {
    transform: translateY(1%);
  }
  50% {
    transform: translateY(2%);
  }
  80% {
    transform: translateY(1%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes bress {
  0% {
    transform: scale(1, 1);
  }
  20% {
    transform: scale(1, 1.01);
  }
  50% {
    transform: scale(1, 0.99);
  }
  80% {
    transform: scale(1, 1.01);
  }
  100% {
    transform: scale(1, 1);
  }
}
