<div class="home">
  <div class="home__inner" id="top">
    <img
      class="home__balloon home__balloon--0"
      src="assets/images/balloon-0.svg"
      width="200"
      height="480"
    />
    <img
      class="home__balloon home__balloon--1"
      src="assets/images/balloon-1.svg"
      width="120"
    />
    <img
      class="home__balloon home__balloon--2"
      src="assets/images/balloon-2.svg"
      width="120"
    />
    <img
      class="home__balloon home__balloon--3"
      src="assets/images/balloon-3.svg"
      width="120"
    />
    <img
      class="home__balloon home__balloon--4"
      src="assets/images/balloon-4.svg"
      width="120"
    />
    <img
      class="home__balloon home__balloon--5"
      src="assets/images/balloon-5.svg"
      width="120"
    />
    <img
      class="home__balloon home__balloon--6"
      src="assets/images/balloon-6.svg"
      width="240"
      height="480"
    />
    <img
      class="home__balloon home__balloon--7"
      src="assets/images/balloon-3.svg"
      width="120"
    />
    <img
      class="home__balloon home__balloon--8"
      src="assets/images/balloon-4.svg"
      width="120"
    />
    <img
      class="home__balloon home__balloon--9"
      src="assets/images/balloon-5.svg"
      width="120"
    />
    <img
      class="home__balloon home__balloon--10"
      src="assets/images/balloon-4.svg"
      width="120"
    />
    <img
      class="home__balloon home__balloon--11"
      src="assets/images/balloon-5.svg"
      width="120"
    />

    <div class="home__date">
      <img src="assets/images/date.svg" />
    </div>

    <div class="home__action">
      <button
        class="home__btn"
        aria-label="スクロールしてメッセージを見る"
        (click)="scrollTo('messages')"
      >
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
    </div>

    <div
      cdkDrag
      class="hero"
      (cdkDragStarted)="handleDragStart($event)"
      (click)="handleClick($event)"
    >
      <figure>
        <img src="assets/images/char-0.png" />
      </figure>
      <a class="hero__logo">
        <span></span>
        <img src="assets/images/logo-camp.png" alt="" />
      </a>
    </div>
  </div>
</div>

<app-time-line id="messages"></app-time-line>
<app-closing></app-closing>
