@import 'variables';
@import 'mixins';

.header {
  &__btn {
    position: fixed;
    background-color: $color-gradient-admin-middle;
    top: 12px;
    right: 24px;
    z-index: 1000;
    @include sp {
      top: 8px;
      right: 16px;
    }
  }
}
