@import 'variables';
@import 'mixins';

:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 8px 24px;
  z-index: 1000;
  @include sp {
    padding: 8px 16px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  &__link {
    display: inline-block;
    // background: $gradient-admin-main;
    background-color: $color-gradient-admin-middle;
    font-weight: 700;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    box-shadow: 0 10px 60px -10px #6b8dd6;
  }
}
