$color-main: #77af9c;
$color-main-light: #8cd790;
$color-base: #e2f3ce;
$color-font: #212121;

// 管理画面UI用設定
// TODO:こちらは、サービスUIが決まり次第、再度調整します。

$color-gradient-admin-start: #2cd8d5;
$color-gradient-admin-middle: #6b8dd6;
$color-gradient-admin-end: #8e37d7;
$gradient-admin-main: linear-gradient(
  -225deg,
  $color-gradient-admin-start 0%,
  $color-gradient-admin-middle 48%,
  $color-gradient-admin-end 100%
);

$box-shadow-admin: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);
$font-admin-en: 'Kaushan Script', cursive;
